logs/
out/
reports/
._redcar/
*.iml
*.ipr
*.iws
.idea/codeStyleSettings.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/libraries/
.idea/dictionaries/
.idea/gradle.xml
.idea/customSpringBeans.xml
.idea/misc.xml
atlassian-ide-plugin.xml
build/
.gradle/
.name
.clover/
derby.log*
